<div class="row-footer">

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="https://github.com/hengx/WebDevSpring2016">Github Repository</a></li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-2 col-md-2">
                <h5>Our Address</h5>
                <address>
                    12345 6th Ave NE<br>
                    Seattle, WA<br>
                    98105<br>
                    <i class="fa fa-phone" aria-hidden="true"></i>: +1-234-56-9890<br>
                    <i class="fa fa-fax" aria-hidden="true"></i>: +123-45-6789<br>
                    <i class="fa fa-envelope" aria-hidden="true"></i>:
                    <a href="mailto:info@moocapp.net">info@moocapp.net</a>
                </address>
            </div>
            <div class="col-xs-4 col-sm-8 col-md-8">
                <div class="row">
                    <!--<div class="col-md-6 col-md-offset-3">-->
                        <ul class="nav nav-pills social">
                            <li><a href="#" class="shadow-top-down social-facebook"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="#" class="shadow-top-down social-twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" class="shadow-top-down social-youtube"><i class="fa fa-youtube-square"></i></a></li>
                            <li><a href="#" class="shadow-top-down social-instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    <!--</div>-->
                </div>
                <!--<div class="nav navbar-nav">-->
                    <!--<a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i-->
                            <!--class="fa fa-google-plus" aria-hidden="true"></i></a>-->
                    <!--<a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i-->
                            <!--class="fa fa-facebook" aria-hidden="true"></i></a>-->
                    <!--<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i-->
                            <!--class="fa fa-linkedin" aria-hidden="true"></i></a>-->
                    <!--<a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"-->
                                                                                             <!--aria-hidden="true"></i></a>-->
                    <!--<a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"-->
                                                                                             <!--aria-hidden="true"></i></a>-->
                    <!--<a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"-->
                                                                     <!--aria-hidden="true"></i></a>-->
                <!--</div>-->
            </div>
            <div class="col-xs-12">
                <p align=center>© Copyright 2016</p>
            </div>
        </div>
    </div>
</div>