<h2>Favorite</h2>

<!--{{model.favorite}}-->
<br/>

<div ng-if="model.favorite.coursesLikedByUser.length">

    <div class="col-sm-12 col-sm-offset-2 main">
        <h3>Courses I Like</h3>

        <div class="panel panel-default jga-course-panel"
             ng-repeat="course in model.favorite.coursesLikedByUser">

            <div class="panel-heading">
                <a href="#/details/{{course.courseId}}">
                    {{course.name}}
                </a>
            </div>
            <div class="panel-body">
                <a href="#/details/{{course.courseId}}">
                    <img ng-src="{{course.smallIcon}}" width="200px"/>
                </a>
                <p>{{course.shortDescription}}</p>
            </div>
        </div>
    </div>

</div>