<h2>Favorite</h2>

{{model.favorite}}

<div ng-if="model.favorite.coursesLikedByUser.length">

    <h3>Courses I Like</h3>

    <div class="panel panel-default jga-movie-panel"
         ng-repeat="course in model.favorite.coursesLikedByUser">

        <br>
        <div class="panel-heading">
            <a href="#/details/{{course.courseId}}">
                {{course.name}}
            </a>
        </div>
        <div class="panel-body">
            <a href="#/details/{{course.courseId}}">
                <img ng-src="{{course.smallIcon}}" width="200px"/>
            </a>
        </div>
    </div>

</div>