<h2>Search</h2>

{{currentUser}}

<input  ng-model="mode.course.name"
        class="form-control"/>
<button ng-click="model.search(model.name)"
        class="btn btn-primary btn-block">
    Search
</button>

<!--<div>{{course}}</div>-->
<!--<div>{{data}}</div>-->
<div ng-if="model.data">
    <h3>Search Results</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Poster</th>
            <th>Name</th>
            <th>id</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="course in model.data.elements">
            <td><img height="100px" ng-src="{{course.smallIcon}}"/></td>
            <td>
                <a href="#/detail/{{course.id}}">
                    {{course.title}}
                </a>
            </td>
            <td>{{course.id}}</td>
            <td>{{course.shortDescription}}</td>
        </tr>
        </tbody>
    </table>
</div>